.signin-form {
    max-width: 300px;
    margin: 0 auto;
}

.form-input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.submit-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: #fff;
    border: none;
    cursor: pointer;
}

    .submit-btn:hover {
        background-color: #45a049;
    }

    /*************Buttons**************/
.button-container {
    /* Add your desired styles for the button container */
    /* Example styles: */
    text-align: right;
    margin-top: 10px;
}

.modify-button,
.delete-button {
    /* Add your desired styles for the buttons */
    /* Example styles: */
    padding: 5px 10px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-right: 5px;
    cursor: pointer;
}


/************Password Visualization**************/
.password-toggle {
    position: relative;
    cursor: pointer;
}

    .password-toggle::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        background: url('eye-icon.png') no-repeat center center;
    }

    .password-toggle.show-password::after {
        background: url('eye-icon-off.png') no-repeat center center;
    }

