@using (Html.BeginForm("SigningIn", "Account", FormMethod.Post, new { @class = "signin-form" }))

{
    <div>
        <label for="Username">Username:</label>
        <input type="text" id="Username" name="Username" class="form-input" />
    </div>
    <div>
        <label for="Password">Password:</label>
        <input type="password" id="Password" name="Password" class="form-input" />

    </div>
    <div>
        <input type="submit" value="Sign In" class="submit-btn" />
    </div>
}

<!-- Add this line to reference the CSS file -->
<link href="@Url.Content("~/Content/EditProduct.css")" rel="stylesheet" />
