body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h2 {
    color: #428bca;
}

label {
    font-weight: bold;
    margin-right: 10px;
}

input[type="text"],
input[type="number"],
select {
    padding: 5px;
    width: 200px;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th,
td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

tr:hover {
    background-color: #f2f2f2;
}

.button-container {
    display: flex;
    justify-content: center;
}

.details-button {
    padding: 5px 10px;
    background-color: #337ab7;
    color: #fff;
    border: none;
    border-radius: 4px;
    margin-right: 5px;
    cursor: pointer;
    text-decoration: none;
}
